<div class="center jumbotron">
  <h1>Welkom op mijn Recepten App</h1>
  
  <h2>
    Dit is de home pagina.
  </h2>
  
  <%= link_to "Registreer Nu!", "", class: "btn btn-lg btn-succes" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      Bekijk Recepten als Gast gebruiker.
    </h3>
    <h2 class="left">Bekijk Recepten als Gast en Registreer later</h2>
    <p><%= link_to "Bekijk Recepten", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Bekijk Recepten als Gast gebruiker.
    </h3>
    <h2 class="left">Bekijk Recepten als Gast en Registreer later</h2>
    <p><%= link_to "Bekijk Recepten", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Bekijk Recepten als Gast gebruiker.
    </h3>
    <h2 class="left">Bekijk Recepten als Gast en Registreer later</h2>
    <p><%= link_to "Bekijk Recepten", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>